/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
.root {
    font-size: 16px;
    line-height: 21px;
}

svg {
    fill: white;
}

body,
.article {
    font-family: neue-haas-grotesk-text, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #f9f9fd;
    background-color: #030303;

    /* overflow-x: hidden; */
}


h1,
h2 {
    font-family: "Rift", sans-serif;
    font-weight: bold;
}

h3,
h4,
h5,
h6 {
    line-height: 190%;
}

p,
ul,
ol,
pre,
table,
blockquote {
    margin-top: 0px;
    margin-bottom: 21px;
}

ul ul,
ol ol,
ul ol,
ol ul {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: circle;
}

a {
    color: red;
    text-decoration: underline;
    text-underline-offset: 4px;
}

* {
    box-sizing: border-box;
}

.swiper-pagination-bullet {
    z-index: 99 !important;
    background-color: rgb(194, 194, 194) !important;
}
.swiper-pagination-bullet-active {
    background-color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 50;
}

/* Small screens - MOBILE */
@media only screen {
    .grid-12 {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    h1,
    .h1 {
        font-size: 68px;
        font-weight: 700;
        line-height: 78px;
        margin-top: 21px;
        margin-bottom: 42px;
    }

    h2,
    .h2 {
        font-size: 42px;
        line-height: 52px;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    h3,
    .h3 {
        font-size: 26px;
        font-weight: 500;
        line-height: 160%;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    h4,
    .h4 {
        font-size: 16px;
        line-height: 21px;
        margin-top: 21px;
        margin-bottom: 0px;
    }

    h5,
    .h5 {
        font-size: 16px;
        line-height: 21px;
        margin-top: 21px;
        margin-bottom: 0px;
    }

    .swiperImageCaro {
        .swiper-wrapper {
            margin-left: 1rem !important;
        }
    }

    article {
        overflow: hidden;
        p {
            font-size: 24px;
            line-height: 190%;
        }
    }
}

/* Define mobile styles - Mobile First */

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) {
}

/* min-width 641px, medium screens */

/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
    h1,
    .h1 {
        font-size: 68px;
        font-weight: 700;
        line-height: 78px;
        margin-top: 21px;
        margin-bottom: 42px;
    }

    h2,
    .h2 {
        font-size: 42px;
        line-height: 52px;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    h3,
    .h3 {
        font-size: 26px;
        font-weight: 500;
        line-height: 21px;
        margin-top: 21px;
        margin-bottom: 21px;
    }

    h4,
    .h4 {
        font-size: 16px;
        line-height: 21px;
        margin-top: 21px;
        margin-bottom: 0px;
    }

    h5,
    .h5 {
        font-size: 16px;
        line-height: 21px;
        margin-top: 21px;
        margin-bottom: 0px;
    }

    .grid-12 {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }

    .swiperImageCaro {
        .swiper-wrapper {
            margin-left: 0 !important;
        }
    }

    .container {
        max-width: 1024px;
    }
}

/* min-width 1025px, large screens */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
    .container {
        max-width: 1440px;
    }
}

/* min-width 1441px, xlarge screens */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
}

/* min-width 1921px, xlarge screens */

/*------------------------------------------*/
